<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Spam Detector</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Smart SMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container">

        <h3 class="">INBOX</h3>
        <table class="table">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date Sent</th>
                <th scope="col">From</th>
                <th scope="col">Body</th>
            </tr>
            {% for x in not_spam_msg %}
            <tr scope='row'>
                <td>{{ loop.index }}</td>
                <td>{{ x.date_sent }}</td>
                <td>{{ x.from_ }}</td>
                <td>{{ x.body }}</td>
            </tr>
            {% endfor %}
        </table>

        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#spam-div" role="button" aria-expanded="false"
                aria-controls="spam">
                Spam
            </a>
        </p>
        <div class="collapse" id="spam-div">
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date Sent</th>
                        <th scope="col">From</th>
                        <th scope="col">Body</th>
                    </tr>
                    {% for x in spam_msg %}
                    <tr scope='row'>
                        <td>{{ loop.index }}</td>
                        <td>{{ x.date_sent }}</td>
                        <td>{{ x.from_ }}</td>
                        <td>{{ x.body }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>